{% extends 'base.html.twig' %}

{% block title %}
    {{ 'page.user_panel'|trans }}
{% endblock %}

{% block body %}
{% include 'top_menu.html.twig' %}
    <h1>{{ 'page.user_panel'|trans }}</h1>
    
    <h2>{{ 'user_details'|trans }}</h2>
    <div>
        {{ 'user.name'|trans }}: <b>{{ user.name }}</b>
    </div>
    <div>
        {{ 'user.surname'|trans }}: <b>{{ user.surname }}</b>
    </div>
    <div>
    {{ 'user.email'|trans }}: <b>{{ user.email }}</b>
    </div>
    
    <h2>{{ 'page.user_panel.account_actions'|trans }}</h2>
    
    <table style="border-spacing:3">
        <tbody>
        <tr>
            <td>
            <form action="{{ path('fos_user_change_password') }}">
                <input type="submit" value="{{ 'action.change_password'|trans }}" class="btn btn-primary"/>
            </form>
            </td>
            <td>
            <form action="{{ path('user_change_mail', { 'id': user.id }) }}">
                <input type="submit" value="{{ 'action.change_mail'|trans }}" class="btn btn-primary"/>
            </form>
            </td>
            <td>
            <form action="{{ path('user_delete', {'id': user.id}) }}">
                {% if user.loans|length %}
                    <span style="color:red">{{'info.cant_delete_account_has_loans'|trans}}</span>
                {% else %}
                    <input type="submit" value="{{'action.user_delete'|trans}}" class="btn btn-danger"/>
                {% endif %}
            </form>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>{{ 'book.reservations'|trans }}</h3>
    {% if user.reservations|length %}
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th style="padding-bottom:20px">{{ 'book.title'|trans }}</th>
                    <th style="padding-bottom:20px">{{ 'reservation.date'|trans }}</th>
                </tr>
                {% for reservation in user.reservations %}          
                    <tr>    
                        <td style="border-bottom:1px solid black">
                            <a href="{{ path('book_view', { 'id': reservation.book.id }) }}">{{ reservation.book.title }}</a>
                        </td>
                        <td style="border-bottom:1px solid black">
                            <font color= {{ reservation.expired? 'red' : 'black' }}>{{ reservation.creationDate|date('Y-m-d') }}</font>                     
                        </td>
                        <td style="border-bottom:1px solid black">
                        <form action="{{ path('cancel_reservation', { 'id':reservation.book.id }) }}" method="POST">
                            <input type="submit" class="btn btn-warning" value="{{'book.cancel_reservation'|trans}}"/a>
                        </form>
                        </td>
                    </tr>             
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning" role="alert">
            {{ 'empty_list'|trans }}
        </div>
    {% endif %}

    <h3>{{ 'book.loans'|trans }}</h3>
    {% if user.loans|length %}
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th style="padding-bottom:20px">{{ 'book.title'|trans }}</th>
                    <th style="padding-bottom:20px">{{ 'loan.date'|trans }}</th>
                </tr>
                {% for loan in user.loans %}          
                    <tr>    
                        <td style="border-bottom:1px solid black">
                            <a href="{{ path('book_view', { 'id': loan.book.id }) }}">{{ loan.book.title }}</a>
                        </td>
                        <td style="border-bottom:1px solid black">
                            <font color= {{ loan.expired? 'red' : 'black' }}>{{ loan.loanDate|date('Y-m-d') }}</font>                     
                        </td>
                    </tr>               
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning" role="alert">
            {{ 'empty_list'|trans }}
        </div>
    {% endif %}

{% endblock %}