{% extends 'base.html.twig' %}

{% block title %}
    {{ 'page.user_panel'|trans }}
{% endblock %}

{% block body %}
{% include 'login_panel.html.twig' %}
    <h1>{{ 'page.user_panel'|trans }}</h1>
    
    <h2>{{ 'page.user_panel.user_details'|trans }}</h2>
    {{ 'user.name'|trans }}
    <b>{{ user.name }}</b>
    {{ 'user.surname'|trans }}
    <b>{{ user.surname }}</b>
    {{ 'user.email'|trans }}
    <b>{{ user.email }}</b>
    
    <h2>{{ 'page.user_panel.account_actions'|trans }}</h2>
    <form action="{{ path('fos_user_change_password') }}">
        <input type="submit" value={{ 'action.change_password'|trans }}/>
    </form>
    <form action="{{ path('user_delete', {'id': user.id}) }}">
        {% if user.reservations|length %}
            <input type="submit" style="color:red" value={{'info.cant_delete_account_has_loans'|trans}} enabled=false/>
        {% else %}
            <input type="submit" style="color:red" value={{'action.user_delete'|trans}}/>
        {% endif %}
    </form>

    <h3>{{ 'book.reservations'|trans }}</h3>
    {% if user.reservations|length %}
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th style="padding-bottom:20px">{{ 'book.title'|trans }}</th>
                    <th style="padding-bottom:20px">{{ 'reservation.date'|trans }}</th>
                </tr>
                {% for reservation in user.reservations %}          
                    <tr>    
                        <td style="border-bottom:1px solid black">
                            <a href="{{ path('book_view', { 'id': reservation.book.id }) }}">{{ reservation.book.title }}</a>
                        </td>
                        <td style="border-bottom:1px solid black">
                            <font color= {{ booksManager.reservationExpired(reservation)? 'red' : 'black' }}>{{ reservation.creationDate|date('Y-m-d') }}</font>                     
                        </td>
                        <td style="border-bottom:1px solid black">
                            <a href="{{ path('cancel_reservation', { 'id': book.id }) }}">{{'book.cancel_reservation'|trans}}</a>
                        </td>
                    </tr>             
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h3>{{ 'book.loans'|trans }}</h3>
    {% if user.loans|length %}
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th style="padding-bottom:20px">{{ 'book.title'|trans }}</th>
                    <th style="padding-bottom:20px">{{ 'loan.date'|trans }}</th>
                </tr>
                {% for loan in loans %}          
                    <tr>    
                        <td style="border-bottom:1px solid black">
                            <a href="{{ path('book_view', { 'id': loan.book.id }) }}">{{ loan.book.title }}</a>
                        </td>
                        <td style="border-bottom:1px solid black">
                            <font color= {{ booksManager.loanExpired(loan)? 'red' : 'black' }}>{{ loan.loanDate|date('Y-m-d') }}</font>                     
                        </td>
                    </tr>               
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}