{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.catalogue.details'|trans }}
{% endblock %}

{% block body %}
{% include 'top_menu.html.twig' %}

    <h1>{{ 'title.catalogue.details'|trans }}</h1>
    
    {{ form_start(form, { method: 'GET', action: app.request.uri }) }}   
    {{  form_widget(form.search, {'attr': {'class': 'form-control search-query', 'value': search_query}}) }}
    <input type="submit" value={{ 'form.search'|trans }} class="btn btn-default" />
    {{ form_end(form) }}

    {% if books is defined and books|length %}
        <table class="table table-striped">
            <tbody>
                    <tr>
                        <th style="padding-bottom:20px">{{ 'book.isbn'|trans }}</th>
                        <th style="padding-bottom:20px">{{ 'book.title'|trans }}</th>
                        <th style="padding-bottom:20px">{{ 'book.author'|trans }}</th>
                        <th style="padding-bottom:20px">{{ 'book.genre'|trans }}</th>
                        <th style="padding-bottom:20px">{{ 'book.publisher'|trans }}</th>
                        <th style="padding-bottom:20px">{{ 'book.year'|trans }}</th>
                        <th style="padding-bottom:20px">{{ 'book.number_of_copies'|trans }}</th>
                        <th style="padding-bottom:20px">{{ 'book.copies_available'|trans }}</th>
                    </tr>
                {% for book in books %}                 
                    <tr>                      
                        <td style="border-bottom:1px solid black">{{ book.ISBN }}</td>
                        <td style="border-bottom:1px solid black">{{ book.title }}</td>
                        <td style="border-bottom:1px solid black">{{ book.author }}</td>
                        <td style="border-bottom:1px solid black">{{ book.genre }}</td>
                        <td style="border-bottom:1px solid black">{{ book.publisher }}</td>
                        <td style="border-bottom:1px solid black">{{ book.year }}</td>
                        <td style="border-bottom:1px solid black">{{ book.numberOfCopies }}</td>
                        <td style="border-bottom:1px solid black">{{ book.currentlyAvailable }}</td>
                        <td style="border-bottom:1px solid black">
                            <form action="{{ path('book_edit', { 'id': book.id }) }}">
                                <input type="submit" value="{{ 'action.edit_book'|trans }}" class="btn btn-primary"/>
                            </form>
                        </td>
                        <td style="border-bottom:1px solid black">
                            <form action="{{ path('book_delete', { 'id': book.id }) }}" method="POST">
                                {% if book.loans|length %}
                                    <span style="color:red">{{'info.cant_delete_book_has_loans'|trans}}</span>
                                {% else %}
                                    <input type="submit" value="{{'action.delete_book'|trans}}" class="btn btn-danger"/>
                                {% endif %}
                            </form>
                        </td>
                    </tr>             
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning" role="alert">
            {{ 'empty_list'|trans }}
        </div>
    {% endif %}
    <div class="pagerfanta">
        {{ pagerfanta(books, 'twitter_bootstrap4_translated', { routeName: ('books_details_paginated'), 'proximity': 5 }) }}
    </div>

{% endblock %}