{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.book_edit'|trans }}
{% endblock %}

{% block body %}
{% include 'login_panel.html.twig' %}

    <h1>
        {{ 'title.book_edit'|trans }}
    </h1>

    {{ form_start(form, { method: 'post' }) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}