{% extends 'base.html.twig' %}

{% block title %}
    {# {{ 'title.books'|trans }} #}
    {{ 'Katalog' }}
{% endblock %}

{% block body %}

    {# <h1>{{ 'title.books'|trans }}</h1> #}
    <h1>{{ 'Katalog' }}</h1>

    {% if books is defined and books|length %}
        <table class="table table-striped">
            <tbody>
                <input name="search" id="search" value="123"/>
                <div class="btn-group" role="group" aria-label="{{ 'label.actions'|trans }}">  
                    <a href="{{ path('books_search', {"query": "yyy" }) }}" class="btn btn-primary" title="{{ 'action.view'|trans }}">
                        search
                    </a>
                </div>
                {% for book in books %}
                    <tr>
                        <td style="border-bottom:1px solid black">{{ book.title }}</td>
                        <td style="border-bottom:1px solid black">{{ book.author }}</td>
                        <td style="border-bottom:1px solid black">{{ book.genre }}</td>
                    </tr>             
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning" role="alert">
            {{ 'message.empty_list'|trans }}
        </div>
    {% endif %}

{% endblock %}