{% extends 'base.html.twig' %}

{% block title %}
    {# {{ 'title.books'|trans }} #}
    {{ 'Katalog' }}
{% endblock %}

{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <h1>{{ 'Katalog' }}</h1>

    {{ form_start(form, { method: 'post', action: url('books_catalogue') }) }}
    {{ 
        form_widget(form.search, {'attr': {'class': 'form-control search-query'}})
    }}
    {{ form_end(form) }}
    
    {% if books is defined and books|length %}
        <table class="table table-striped">
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>
                            <a href={{ path('book_view', {'id': book.id}) }}>
                                <img src="{{ 'images/' ~ book.coverURI }}" width=100 height=150>
                            </a>
                        </td>
                        <td style="border-bottom:1px solid black">{{ book.title }}</td>
                        <td style="border-bottom:1px solid black">{{ book.author }}</td>
                        <td style="border-bottom:1px solid black">{{ book.genre }}</td>
                        <td style="border-bottom:1px solid black">{{ book.currentlyAvailable }}</td>
                        <td style="border-bottom:1px solid black">
                            <a href="{{ path('book_view', {'id': book.id}) }}">{{ 'book.details'|trans }}</a>
                        </td>
                        {% if is_granted("ROLE_USER") and not is_granted("ROLE_ADMIN") %}
                            {% if booksManager.hasReservation(book, app.user) %}
                                <td style="border-bottom:1px solid black">
                                    <a href="{{ path('cancel_reservation', { 'bookId': book.id }) }}">{{'book.cancel_reservation'|trans}}</a>
                                </td>
                            {% elseif booksManager.canMakeReservation(book, app.user) %}
                                <td style="border-bottom:1px solid black">
                                    <a href="{{ path('make_reservation', { 'bookId': book.id }) }}">{{ 'book.make_reservation'|trans }}</a>
                                </td>
                            {% endif %}
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") %}
                            <td style="border-bottom:1px solid black">
                                <a href="{{ path('reservations_checkouts', { 'id': book.id }) }}">{{ 'book.reservations_and_checkouts'|trans }}</a>
                            </td>
                        {% endif %}
                    </tr>                      
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning" role="alert">
            {{ 'message.empty_list'|trans }}
        </div>
    {% endif %}
    {# ... #}
    <div class="navigation text-center">
            {{ pagerfanta(books, 'twitter_bootstrap3_translated', { routeName: ('books_catalogue_paginated') }) }}
        </div>
    {# ... #}
{% endblock %}