{% extends 'base.html.twig' %}

{% block title %}
    {# {{ 'title.books'|trans }} #}
    {{ 'Katalog' }}
{% endblock %}

{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <h1>{{ 'Katalog' }}</h1>

    {{ form_start(form, { method: 'post', action: url('books_catalogue') }) }}
    {{ 
        form_widget(form.search, {'attr': {'class': 'form-control search-query'}})
    }}
    {{ form_end(form) }}
    
    {% if books is defined and books|length %}
        <table class="table table-striped">
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>
                            <img src="{{ 'images/' ~ book.coverURI }}" width=100 height=150>
                        </td>
                        <td style="border-bottom:1px solid black">{{ book.title }}</td>
                        <td style="border-bottom:1px solid black">{{ book.author }}</td>
                        <td style="border-bottom:1px solid black">{{ book.genre }}</td>
                        <td style="border-bottom:1px solid black">{{ book.currentlyAvailable }}</td>
                        <td style="border-bottom:1px solid black">
                            <a href="{{ path('make_reservation', { 'id': book.id }) }}">Zarezerwuj</a>
                        </td>
                    </tr>             
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning" role="alert">
            {{ 'message.empty_list'|trans }}
        </div>
    {% endif %}

{% endblock %}