{% extends 'base.html.twig' %}

{% block title %}
    {{ 'books.catalogue'|trans }}
{% endblock %}

{% block body %}
{% include 'top_menu.html.twig' %}

    <h1>{{ 'books.catalogue'|trans }}</h1>

    {{ form_start(form, { method: 'post' }) }}   
    {{  form_widget(form.search, {'attr': {'class': 'form-control search-query', 'value': search_query }}) }}
    <input type="submit" value={{ 'form.search'|trans }} class="btn btn-default"/>
    {{ form_end(form) }}
    
    {% if books is defined and books|length %}
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th style="padding-bottom:20px"></th>
                    <th style="padding-bottom:20px">{{ 'book.title'|trans }}</th>
                    <th style="padding-bottom:20px">{{ 'book.author'|trans }}</th>
                    <th style="padding-bottom:20px">{{ 'book.genre'|trans }}</th>
                    <th style="padding-bottom:20px">{{ 'book.copies_available'|trans }}</th>
                </tr>
                {% for book in books %}
                    <tr>
                        <td>
                            <a href="{{ path('book_view', {'id': book.id}) }}">                         
                                <img src="{{asset('uploads/covers/' ~ book.cover)}}" width=100 height=150>
                            </a>
                        </td>
                        <td style="border-bottom:1px solid black">{{ book.title }}</td>
                        <td style="border-bottom:1px solid black">{{ book.author }}</td>
                        <td style="border-bottom:1px solid black">{{ book.genre }}</td>
                        <td style="border-bottom:1px solid black">{{ book.currentlyAvailable }}</td>
                        {% if is_granted("ROLE_USER") and not is_granted("ROLE_ADMIN") %}
                            <td style="border-bottom:1px solid black">
                                <a href="{{ path('book_view', {'id': book.id}) }}">{{ 'book.details'|trans }}</a>
                            </td>
                            {% if booksManager.hasReservation(app.user, book) %}
                                <td style="border-bottom:1px solid black">
                                    <a href="{{ path('cancel_reservation', { 'id': book.id }) }}">{{'book.cancel_reservation'|trans}}</a>
                                </td>
                            {% elseif booksManager.hasLoan(app.user, book) %}
                                <td style="border-bottom:1px solid black">
                                    {{ 'book.has_loan'|trans }}
                                </td>
                            {% elseif booksManager.canMakeReservation(app.user, book) %}
                                <td style="border-bottom:1px solid black">
                                    <a href="{{ path('make_reservation', { 'id': book.id }) }}">{{ 'book.make_reservation'|trans }}</a>
                                </td>
                            {% endif %}
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") %}
                        <td style="border-bottom:1px solid black">
                            <a href="{{ path('admin_panel', { 'search': book.ISBN }) }}">{{ 'book.reservations_and_loans'|trans }}</a>
                        </td>
                        {% endif %}
                    </tr>                      
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning" role="alert">
            {{ 'empty_list'|trans }}
        </div>
    {% endif %}
    {# ... #}
    <div class="pagerfanta">
        {{ pagerfanta(books, 'twitter_bootstrap4_translated', { routeName: ('books_catalogue_paginated'), 'proximity': 5 }) }}
    </div>
    {# ... #}
{% endblock %}