{% block body %}
          
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                |   
                           
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('admin_panel') }}">{{ 'page.admin_panel'|trans }}</a>
                    |
                    <a href="{{ path('books_add') }}">{{ 'page.books_add'|trans }}</a>
                    |
                    <a href="{{ path('fos_user_registration_register') }}">{{ 'page.register_user'|trans }}</a>
                {% else %}
                    <a href="{{ path('user_panel') }}">{{ 'page.user_panel'|trans }}</a>
                 {% endif %}
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
            {% if app.request.pathinfo != path('books_catalogue') %}
                |
                <a href="{{ path('books_catalogue') }}">{{ 'books_catalogue'|trans }}</a>           
            {% endif %}

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success" role="alert">
                {{ message|trans }}
            </div>         
        {% endfor %}

        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning" role="alert">
                {{ message|trans }}
            </div>         
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                {{ message|trans }}
            </div>         
        {% endfor %}

 {% endblock %}           