{% extends 'base.html.twig' %}

{% block title %}
    {{ 'page.admin_panel'|trans }}
{% endblock %}

{% block body %}
{% include 'top_menu.html.twig' %}

    <h1>{{ 'page.admin_panel'|trans }}</h1>

    <table style="border-spacing:3">
        <tbody>
        <tr>
            <td>
            <form action="{{ path('fos_user_change_password') }}">
                <input type="submit" value="{{ 'action.change_password'|trans }}" class="btn btn-primary"/>
            </form>
            </td>
            <td>
            <form action="{{ path('user_change_mail', { 'id': app.user.id }) }}">
                <input type="submit" value="{{ 'action.change_mail'|trans }}" class="btn btn-primary"/>
            </form>
            </td>
            <td>
            <form action="{{ path('users') }}">
                <input type="submit" value="{{'show.users'|trans}}" class="btn btn-info"/>
            </form>
            </td>
            <td>
            <form action="{{ path('books_details') }}">
                <input type="submit" value="{{'show.books_details'|trans}}" class="btn btn-info"/>
            </form>
            </td>
        </tr>
        </tbody>
    </table>

<br>
{% include 'admin/reservations_loans_content.html.twig' %}

{% endblock %}