{% extends 'base.html.twig' %}

{% block title %}
    {{ 'page.admin_panel'|trans }}
{% endblock %}

{% block body %}
{% include 'login_panel.html.twig' %}

    <form action="{{ path('users') }}">
        <input type="submit" value={{'show.users'|trans}}/>
    </form>
    <form action="{{ path('reservations_loans') }}">
        <input type="submit" value={{'show.reservations_loans'|trans}}/>
    </form>

{% endblock %}