{% extends 'base.html.twig' %}

{% block body %}

<h2>{{ 'book.reservations_and_loans'|trans }}</h2>

{{ form_start(form, { method: 'post', action: app.request.uri }) }}   
{{  form_widget(form.search, {'attr': {'class': 'form-control search-query', 'value': search_query}}) }}
<input type="submit" value={{ 'form.search'|trans }} class="btn btn-secondary" />
{{ form_end(form) }}

<h3>{{ 'book.reservations'|trans }}</h3>
{% if reservations is defined and reservations|length %}
    <table class="table table-striped">
        <tbody>
            <tr>
                <th style="padding-bottom:20px">{{ 'user.name'|trans }} {{ 'user.surname'|trans }}</th>
                <th style="padding-bottom:20px">{{ 'book.title'|trans }}</th>
                <th style="padding-bottom:20px">{{ 'reservation.date'|trans }}</th>
            </tr>
            {% for reservation in reservations %}          
                <tr>    
                    <td style="border-bottom:1px solid black">
                        <a href="{{ path('user_view', { 'id': reservation.user.id }) }}">
                            {{ reservation.user.name }} {{ reservation.user.surname }}
                        </a>
                    </td>
                    <td style="border-bottom:1px solid black">
                         <a href="{{ path('book_view', { 'id': reservation.book.id }) }}">{{ reservation.book.title }}</a>
                    </td>
                    <td style="border-bottom:1px solid black">
                        <font color= {{ reservation.expired? 'red' : 'black' }}>{{ reservation.creationDate|date('Y-m-d') }}</font>                     
                    </td>
                    <td style="border-bottom:1px solid black">
                        <a href="{{ path('cancel_reservation', { 'id': reservation.book.id, 'userId': reservation.user.id }) }}" class="btn btn-warning">{{'book.cancel_reservation'|trans}}</a>
                    </td>
                    <td style="border-bottom:1px solid black">
                        <a href="{{ path('make_loan', { 'id': reservation.id }) }}" class="btn btn-success">{{'book.loan'|trans}}</a>
                    </td>
                </tr>             
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-warning" role="alert">
        {{ 'empty_list'|trans }}
    </div>
{% endif %}
<div class="pagerfanta">
    {{ pagerfanta(reservations, 'twitter_bootstrap4_translated', { routeName: ('reservations_loans_paginated'), 'proximity': 5, 'pageParameter': '[pageReservation]' }) }}
</div>

<h3>{{ 'book.loans'|trans }}</h3>
{% if loans is defined and loans|length %}
    <table class="table table-striped">
        <tbody>
            <tr>
                <th style="padding-bottom:20px">{{ 'user.name'|trans }} {{ 'user.surname'|trans }}</th>
                <th style="padding-bottom:20px">{{ 'book.title'|trans }}</th>
                <th style="padding-bottom:20px">{{ 'loan.date'|trans }}</th>
            </tr>
            {% for loan in loans %}          
                <tr>    
                    <td style="border-bottom:1px solid black">
                        <a href="{{ path('user_view', { 'id': loan.user.id }) }}">
                            {{ loan.user.name }} {{ loan.user.surname }}
                        </a>
                    </td>
                    <td style="border-bottom:1px solid black">
                        <a href="{{ path('book_view', { 'id': loan.book.id }) }}">{{ loan.book.title }}</a>
                    </td>
                    <td style="border-bottom:1px solid black">
                        <font color= {{ loan.expired? 'red' : 'black' }}>{{ loan.loanDate|date('Y-m-d') }}</font>                     
                    </td>
                    <td style="border-bottom:1px solid black">
                        <a href="{{ path('book_return', { 'id': loan.id }) }}" onclick="return confirm('{{'are you sure?'|trans}}')">{{'book.return'|trans}}</a>
                    </td>
                </tr>             
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-warning" role="alert">
        {{ 'empty_list'|trans }}
    </div>
{% endif %}
<div class="pagerfanta">
    {{ pagerfanta(loans, 'twitter_bootstrap4_translated', { routeName: ('reservations_loans_paginated'), 'proximity': 5, 'pageParameter': '[pageLoan]' }) }}
</div>

{% endblock %}