{% extends "base.html.twig" %}

{% block title %}
    {{ 'title.reset_password'|trans }}
{% endblock %}

{% block body %}
{% include 'login_panel.html.twig' %}

<h1> {{ 'title.reset_password'|trans }} </h1>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
{% endblock body %}
